html, body {
	margin: 0px
	height: 100%;
	overflow-x: hidden;

}

ul {
	list-style: none
}

div {
	margin: 0px;
	height: 100%;
}

.mainContent {
	width: 100%;
}

/****** Nav *****/

#headShot {
	width: 200px;
	height: 250px;	
	margin-left: auto;
	margin-right: auto;
	margin-top:30px;
	margin-bottom: 10px;
}

.nav {
	height:100%;
	width:400px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 20px;
	border-right: 1px solid black;
}
#navSection {
	text-align: center;
	
}

.buttons {
	text-align: center;
}

#navButtons {
	list-style: none;
	text-align: center;
	padding: 0px;
}

ul#navButtons li {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	width:100px;
	height: 40px;
	padding: 10px;
	border-radius: 3px;
	
}

ul#navButtons li:hover {

}

/***** Main *****/

div#welcome h1 {
	margin-left:25%;
	margin-top: 200px;
}

div#welcome p {
	width: 30%;
	margin-left:20%
}
.mainContent {
	position:absolute;
	max-width:100%;
	margin-left: 400px;
	overflow-x: hidden;
}